
@using HairSalon.Models
@model Stylist

@{
  Layout = "_Layout";
}

<div class="container">
  <nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
    <a class="navbar-brand" href="/">Perfect Look</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/">Home Page</a>
      </li>
    </ul>
    </div>
  </nav>
  <div class="jumbotron jumbotron-fluid">
    <h4 class="display-4">Perfect Look Database Management</h4>
    <img src="~/imgs/HairTools.jpg" alt="Hair Tools" class="jumbotron-image">
  </div>
    <form action="/stylists" method="post">
      <div class="form-row">
        <div class="form-group col-md-12">
          <label for="stylistName">Enter Stylist Name:</label>
          <input type="text" class="form-control" id="stylistName" name="stylistName" placeholder="Firstname Lastname" required>
        </div>
      </div>
      <button type="submit" class="btn btn-primary" style="margin-left: 45%">Add Stylist!</button>
    </form>
  </div>
