@{
  Layout = "_Layout";
}

<div class="container">
  <div class="jumbotron">
    <h1 class="display-4">Perfect Look!</h1>
    <img src="~/img/HairTools.jpg" alt="Hair Tools" class="jumbotron-image">
    <p class="lead">Perfect Look Stylists Management</p>
  </div>
  <p class="align">Stylist @Model["stylist"].GetName()'s Clients</p>

  <div>
    <a href="/stylists/@Model["stylist"].GetId/edit" class="btn btn-warning" role="button">Edit</a>
    <p>OR</p>
    <form action="/stylists/@Model["stylist"].GetId/delete" method="post">
      <button type="submit" class="btn btn-danger">Delete</button>
    </form><a href="/stylists/@Model["stylist"].GetId/delete" class="btn btn-info" role="button">Edit</a>
  </div>

  <ul>
    @foreach (var client in @Model["clients"]
    {
      <li><a class="btn btn-primary" role="button" href="stylists/@Model["stylist"].GetId()/clients/@client.GetGetClientId">@client.GetClientName()</a></li>
    }
  </ul>

<p><a class="btn btn-primary" href="/stylists/@Model["stylist"].GetId()/clients/new" role="button">Add a new item</a></p>
<p><a class="btn btn-primary" href="/stylists" role="button">List All Stylists</a></p>
<a class="btn btn-primary" href="/" role="button" style="margin-left: 40%">Home Page!</a>
</div>
