.jumbotron-image {
  display: block;
  margin: 0 auto;
  border-radius: 10px;
  box-shadow: 5px 5px 10px #444;
  width: 100%;
  max-width: 816px;
}

.display-4, .lead, .element-align, .card-title{
text-align: center;
}

.style-inline{
  display: flex;
  justify-content: center;
}
