@{
  Layout = "_Layout";
}

<div class="container">
  <div class="jumbotron">
    <h1 class="display-4">Perfect Look!</h1>
    <img src="~/img/HairTools.jpg" alt="Hair Tools" class="jumbotron-image">
    <p class="lead">Welcome To Perfect Look Database Management</p>
    <hr class="my-4">
    <p>List All Stylists At Perfect Look</p>
    <a class="btn btn-primary" href="/stylists" role="button" style="margin-left: 35%">View Stylists</a>
  </div>
</div>
