@{
  Layout = "_Layout";
}

<div class="container">
  <nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
    <a class="navbar-brand" href="/">Perfect Look</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/">Home Page</a>
      </li>
    </ul>
    </div>
  </nav>
  <div class="jumbotron jumbotron-fluid">
    <h1 class="display-4">Perfect Look </h1>
    <p class="lead">Welcome To Perfect Look Database Management</p>
    <img src="~/imgs/HairTools.jpg" alt="Hair Tools" class="jumbotron-image">
    <hr class="my-4">
    <p>List All Stylists At Perfect Look</p>
    <a class="btn btn-primary element-align" href="/stylists" role="button" style="margin-left: 35%">View Stylists</a>
  </div>
</div>
